---
layout: page
title: ARCHIE
tagline: Augmented Reality for Cultural Heritage Interpretation and Education
---
{% include JB/setup %}

{% for post in paginator.posts %}
{% include themes/archie/post_header.html %}
{{ post.content | split:'</p>' | first }} 
<div>
  <a href="{{ BASE_PATH }}{{ post.url }}" title="More">Read More</a>
</div>
{% include themes/archie/post_footer.html %}
{% endfor %}

<hr>

<div class="pagination">
  <ul>
    {% if paginator.next_page %}
    <li class="next"><a href="{{ BASE_PATH }}/page{{ paginator.next_page }}">&larr; Older posts</a></li>
    {% else %}
    <li class="next disabled"><a>&larr; Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
    <li class="prev"><a href="{{ HOME_PATH }}">Newer posts &rarr;</a></li>
    {% else %}
    <li class="prev"><a href="{{ BASE_PATH }}/page{{ paginator.previous_page }}">Newer posts &rarr;</a></li>
    {% endif %}
    {% else %}
    <li class="prev disabled"><a>Newer posts &rarr;</a></li>
    {% endif %}
  </ul>
</div>
